.section{
    background-color: orangered;
    padding: 70px;
    color: white;
}
.first-div{
    display: flex;
    
    padding: 20px;
    gap: 30px;
}


.first-div h1{
    font-size: 50px;
}
.second-div{
    padding: 50px;
    font-size: 30px;
    text-align: center;
}