.section{
    background-color:#F98387;
    padding: 50px;
    color: white;
}
.first-div{
    display: flex;
    
    padding: 15px;
    gap: 50px;
}


.first-div h1{
    font-size: 50px;
}
.first-div h2{
    padding: 30px;
    font-size:20px;
}
.first-div button{
    padding: 30px;
    font-size: 20px;
    
}
.second-div{
    padding: 50px;
    font-size: 30px;
    text-align: center;
}
.second-div h1{
    font-size: 50px;

}
.div-2{
    text-align: center;
    padding: 150px;
}
.div-2 h1{
    font-size: 50px;
}